<main id="posts-home">

	<div class="group-links"><h4>Group Links</h4></div>

	<div class="deewar-posts">
		<div class="new-post-form">
			<% if user_signed_in? %>
			<%= form_for @post do |f| %>
				<%= f.label :content %>
				<%= f.text_area :content, placeholder: "Create a new post idiot.." %>

				<%= f.submit %>
			<% end %>
			<% end %>
		</div>

		<div class="complete-post">
			<ul class="posts-list">
				<% @posts.reverse.each do |post| %>
				<li>
					<div class="imp">
						<div class="post-form">

            	<p class="email-bold"><%= post.user.email %></p>
							<br><br>
						<p><%= post.content %></p>
						<br>
<div class="link-tos">
						<% if user_signed_in? && post.user_id ==  current_user.id %>
						<%= link_to "Delete", destroy_post_path(post.id), method: :delete %>
						<% end %>

						<% if user_signed_in? %>

							<sub class="some-distance">
								<%= post.likes.length %>
								&nbsp
								<%= link_to post.like_status_string(current_user.id), toggle_like_path(post.id), method: :post %>
							</sub>

						<% else %>
						<sub>
								<%= post.likes.length %> Likes

							</sub>

						<% end %>
</div></div>	</div>
						<div class="new-post-form post-form comments">
							<!-- <h5>Add Comment</h5> -->
							<% if user_signed_in? %>
							<%= form_for @comment do |f| %>
								<%= f.hidden_field :post_id, value: post.id %>

								<%= f.label :AddComments %>
								<%= f.text_area :content %>

								<%= f.submit %>
							<% end %>
							<% end %>

							<ul>
								<% post.comments.reverse.each do |comment| %>
								<li>
									<p><%= comment.content %>
										<sub><%= comment.user.email %></sub>
									</p>
									<% if user_signed_in? && comment.user_id ==  current_user.id %>
										<p><%= link_to "Delete", destroy_comment_path(comment.id), method: :delete %></p>
										<% end %>

								</li>

								<% end %>
							</ul>


						</div>

				</li>

				<% end %>
			</ul>


		</div>


	</div>


	<div class="group-links"><h4>Friends</h4></div>

</main>
